@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    
     max-width: 100%;
     max-height: 100%;    
     html {
        
            background-color: #fffdde;
            font-size: 62.2%;
        
        
     }
}
